  <label @OUTPUT>
    <match **>
      @type opensearch
      host "ooensearch-master"
      port 9200
      path ""
      logstash_format true
      include_timestamp true
      logstash_prefix "kubernetes-pod-logs"
      user %{${username}}
      password %{${password}}
    </match>
  </label>